<footer id="footer">
  <div class="container">
    <h3>Roshan Paudel</h3>
    <p>
      Et aut eum quis fuga eos sunt ipsa nihil. Labore corporis magni eligendi
      fuga maxime saepe commodi placeat.
    </p>
    <div class="social-links">
      <a
        href="https://twitter.com/RoshanP93399181"
        target="_blank"
        class="twitter"
        ><i class="bx bxl-twitter"></i
      ></a>
      <a
        href="https://www.facebook.com/leduap.nahsor"
        class="facebook"
        target="_blank"
        ><i class="bx bxl-facebook"></i
      ></a>
      <a
        href="https://www.instagram.com/aegon_targeryern/"
        class="instagram"
        target="_blank"
        ><i class="bx bxl-instagram"></i
      ></a>
      <a
        href="https://www.linkedin.com/in/roshan-paudel-200186167/"
        target="_blank"
        class="linkedin"
        ><i class="bx bxl-linkedin"></i
      ></a>
    </div>
    <div class="copyright">
      &copy; Copyright <strong><span>Roshan Paudel</span></strong
      >. All Rights Reserved
    </div>
  </div>
</footer>
