<section id="portfolio" class="portfolio section-bg">
  <div id="portfolio-container" class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Portfolio</h2>
      <p>
        I have build my portfolio while I am learning. I have made a couple of
        tiny projects that I can showcase. Here are some of them.
      </p>
    </div>

    <div class="row">
      <div
        class="col-lg-12 d-flex justify-content-center"
        data-aos="fade-up"
        data-aos-delay="100"
      ></div>
    </div>

    <div
      class="row portfolio-container"
      data-aos="fade-up"
      data-aos-delay="100"
    >
      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <img
            src="assets/img/portfolio/project-1.png"
            class="img-fluid"
            alt=""
          />
          <div class="portfolio-info">
            <h4>Simple Todo Lists</h4>
            <p>
              It is a simple app where a user can add items to the list that
              S/he wants to remember.
            </p>
            <div class="portfolio-links">
              <a
                href="assets/img/portfolio/project-1.png"
                data-gallery="portfolioGallery"
                class="portfolio-lightbox"
                title="Simple todo app"
                target="_blank"
                ><i class="bi bi-zoom-in"></i
              ></a>
              <a href="http://todobyroshan.herokuapp.com/"
                ><i class="bi bi-github"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <img
            src="assets/img/portfolio/project-3.png"
            class="img-fluid"
            alt=""
          />
          <div class="portfolio-info">
            <h4>Simple Blog Site</h4>
            <p>
              It is a simple blog app where a author can write blogs and post on
              the site.
            </p>
            <div class="portfolio-links">
              <a
                href="assets/img/portfolio/project-3.png"
                data-gallery="portfolioGallery"
                class="portfolio-lightbox"
                title="Simple todo app"
                target="_blank"
                ><i class="bi bi-zoom-in"></i
              ></a>
              <a href="https://github.com/Roshanpaudel111/blog-app"
                ><i class="bi bi-github"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <img
            src="assets/img/portfolio/project-2.png"
            class="img-fluid"
            alt=""
          />
          <div class="portfolio-info">
            <h4>Yelpcamp</h4>
            <p>
              A campground app where users can find campgrounds to for their
              stay.
            </p>
            <div class="portfolio-links">
              <a
                href="assets/img/portfolio/project-2.png"
                data-gallery="portfolioGallery"
                class="portfolio-lightbox"
                title="Yelpcamp"
                ><i class="bi bi-zoom-in"></i
              ></a>
              <a href="https://github.com/Roshanpaudel111/yelpcamp"
                ><i class="bi bi-github"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
